form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f4c75;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  grid-row: 2;
  grid-column: 2;
  align-self: center;
}
h1 {
  margin-top: 20px;
  font-size: 64px;
  font-weight: lighter;
  text-align: center;
}
.input_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}
.input_group label {
  font-size: 36px;
  font-weight: bold;
  border-bottom: 10px;
}
.input_group input {
  padding: 5px;
  font-size: 21px;
  border-style: none;
  background: transparent;
  border-bottom: 1px solid #bbe1fa;
  font-weight: lighter;
  color: #bbe1fa;
}
.input_group input::placeholder {
  font-style: italic;
  font-size: 17px;
  color: #bbe1fa;
  opacity: .7;
}
.input_group .btn_inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn_inline button {
  width: 123px;
  height: 55px;
  margin: 20px;
  margin-bottom: 26px;
  border-style: none;
  color: #bbe1fa;
  font-size: 23px;
  cursor: pointer;
  border-radius: 10px;
  transition: .3s;
}
@media only screen and (max-width: 993px) {
  .btn_inline button {
    width: 83px;
    font-size: 17px;
  }
}

button.primary_button {
  background: #3282b8;
  font-weight: bold;
}

button.primary_button:hover {
  background: #42abf1;
}
button.secondary_button {
  background: #0f4c75;
  border: 1px solid #bbe1fa;
  font-weight: lighter;
}
button.secondary_button:hover {
  background: #135d8f;
}

label#avatar {
  display: flex;
  border: 1px solid #bbe1fa;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-size: cover;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
  transition: .2s;
}

label#avatar input {
  display: none;
}

label#avatar:hover {
  opacity: .5;
}

label#avatar.has_avatar {
  border: 0;
}

div.inline_group {
  display: flex;
  flex-direction: row;
}

.inline_group input {
  width: 100%;
}
form div.error_display {
  background: #7c93a3;
  width: 100%;
  text-align: center;
  padding: 2px;
}

form div.error_display span {
  font-size: 16px;
  font-weight: bold;
  color: #bbe1fa;
}