@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #1b262c;
  color: #bbe1fa;
}

html, body, #root, .app {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header"
  ". form ."
  ". . .";
}